<div class="row">
  <div class="col s6">
    <div class="row">
      <div class="col s12">
        <h1 class="brand-logo left">About</h1><br>
      </div>
      <div class="col s12">
        <h4>I'm a full stack web developer. But you can call me Caitlin.</h4>
        <p>Three years of lesson planning, curriculum creating, elementary school teaching, and professional development instructing indirectly led me to discover my love for code.</p>
        <p>As a Ruby track graduate of the Epicodus programming bootcamp, I'm ready to take on any language or project.</p>
        <p>Want to know more? <%= link_to "Contact me!", contact_index_path %></p>
      </div>
    </div>
  </div>
  <div class="col s6">
    <%= image_tag "me.png", id: "me" %>
  </div>
</div>
