<div class="row">
  <div class="col s6">
    <div class="row">
      <div class="col s12">
        <h1 class="brand-logo left">Contact</h1><br>
      </div>
      <div class="col s12">
        <h4>Hi.</h4>
        <p>Portland, Oregon</p>
        <p>831.801.1519</p>
        <p>caitlinashtari@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="col s6">
    <%= image_tag "graf.jpg", id: "graf" %>
  </div>
</div>
