---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=<github token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1488580317'
      Etag:
      - W/"3948b051f24a06e62a912c69fd08283e"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":80223149,"name":"epicodusclub","full_name":"caitlinashtari/epicodusclub","owner":{"login":"caitlinashtari","id":20426676,"avatar_url":"https://avatars1.githubusercontent.com/u/20426676?v=3","gravatar_id":"","url":"https://api.github.com/users/caitlinashtari","html_url":"https://github.com/caitlinashtari","followers_url":"https://api.github.com/users/caitlinashtari/followers","following_url":"https://api.github.com/users/caitlinashtari/following{/other_user}","gists_url":"https://api.github.com/users/caitlinashtari/gists{/gist_id}","starred_url":"https://api.github.com/users/caitlinashtari/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/caitlinashtari/subscriptions","organizations_url":"https://api.github.com/users/caitlinashtari/orgs","repos_url":"https://api.github.com/users/caitlinashtari/repos","events_url":"https://api.github.com/users/caitlinashtari/events{/privacy}","received_events_url":"https://api.github.com/users/caitlinashtari/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/caitlinashtari/epicodusclub","description":"An
        Angular2 site that manages Epicodus students","fork":false,"url":"https://api.github.com/repos/caitlinashtari/epicodusclub","forks_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/forks","keys_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/keys{/key_id}","collaborators_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/teams","hooks_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/hooks","issue_events_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/issues/events{/number}","events_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/events","assignees_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/assignees{/user}","branches_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/branches{/branch}","tags_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/tags","blobs_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/git/refs{/sha}","trees_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/git/trees{/sha}","statuses_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/statuses/{sha}","languages_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/languages","stargazers_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/stargazers","contributors_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/contributors","subscribers_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/subscribers","subscription_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/subscription","commits_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/commits{/sha}","git_commits_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/git/commits{/sha}","comments_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/comments{/number}","issue_comment_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/issues/comments{/number}","contents_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/contents/{+path}","compare_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/compare/{base}...{head}","merges_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/merges","archive_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/downloads","issues_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/issues{/number}","pulls_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/pulls{/number}","milestones_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/milestones{/number}","notifications_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/labels{/name}","releases_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/releases{/id}","deployments_url":"https://api.github.com/repos/caitlinashtari/epicodusclub/deployments","created_at":"2017-01-27T16:17:04Z","updated_at":"2017-02-19T16:32:46Z","pushed_at":"2017-01-28T00:55:15Z","git_url":"git://github.com/caitlinashtari/epicodusclub.git","ssh_url":"git@github.com:caitlinashtari/epicodusclub.git","clone_url":"https://github.com/caitlinashtari/epicodusclub.git","svn_url":"https://github.com/caitlinashtari/epicodusclub","homepage":"","size":838,"stargazers_count":1,"watchers_count":1,"language":"TypeScript","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":76135565,"name":"sanjuanbautista-hs","full_name":"caitlinashtari/sanjuanbautista-hs","owner":{"login":"caitlinashtari","id":20426676,"avatar_url":"https://avatars1.githubusercontent.com/u/20426676?v=3","gravatar_id":"","url":"https://api.github.com/users/caitlinashtari","html_url":"https://github.com/caitlinashtari","followers_url":"https://api.github.com/users/caitlinashtari/followers","following_url":"https://api.github.com/users/caitlinashtari/following{/other_user}","gists_url":[...]
